DATABASE_URL=postgresql://postgres:heUdbjqxCwPBHMd1@db.znfmlrkbbyycwfzqajvw.supabase.co:5432/postgres


SECRET_KEY=your_secret_key
ALGORITHM=HS256


NEXT_PUBLIC_API_URL=https://plataforma-inteligencia-publica.onrender.com/api
COHERE_API_KEY=your_cohere_api_key